<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>HTML 5 Boilerplate</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <h1>hello world - Author(Truc Ngo)</h1>
    <button onclick="location.href='/home'" type="button">
      Back to Home
    </button>
    <p>
      I'm voting for our project name to be "Emotional Damage Map" :)
    </p>
    <img src="https://videos2.memedroid.com/videos/UPLOADED241/62689ceee89f5.jpeg" alt="Not Found">
  </body>
</html>
